/* body{
    margin: 0 0 0 0;
} */
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-head {
    background-color: black;
    color: white;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav-icons {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
}

#logo {
    font-weight: bolder;
}

.nav {
    display: flex;
}

#home {
    text-decoration: underline;
}

.nav a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.icons {
    display: flex;
}

.icons img {
    width: 21px;
    height: 21px;
    padding-left: 23px;
}

@media screen and (max-width: 576px) {
    .top-head {
        background-color: black;
        color: white;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo-nav-icons {
        display: flex;
        flex-direction: column;
        height: 200px;
        /* justify-content: space-between;
        align-items: center; */
    }

    .logo {
        font-size: 32px;
    }

    #logo {
        font-weight: bolder;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    #home {
        text-decoration: underline;
    }

    .nav a {
        text-decoration: none;
        color: black;
        /* padding-left: 20px; */
    }

    .icons {
        display: flex;
        /* flex-direction: column; */
    }

    .icons img {
        width: 21px;
        height: 21px;
        padding-left: 23px;
    }
}

.carousel-container {
    width: 1200px;
    height: 629px;
    position: relative;
    margin: 0 auto;
}

.navigation .prev {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    top: 40%;
    left: 10px;
    font-weight: 700;
}

.navigation .next {
    right: 10px;
    position: absolute;
    font-size: 25px;
    z-index: 10;
    top: 40%;
}

.navigation .nav-btn {
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
    background: white;
}

.carousel {
    margin-top: 20px;
    transition: all 0.3s ease;

}

.carousel img {
    width: 1200px;
    height: 600px;
    transition: all 0.3s ease;
    border: 8px solid white;
}

.item {
    position: absolute;
    display: none;
}

.main {
    display: block;
}


.parent-container {
    position: relative;
    overflow-x: hidden;
}

.text-shopNowBtn {
    position: relative;
    left: 279px;
    top: -407px;
}

.text-shopNowBtn h2 {
    font-weight: bolder;
    margin-bottom: 64px;
}

.text-shopNowBtn a {
    text-decoration: none;
    color: rgb(248, 242, 242);
    background-color: black;
    width: 152px;
    height: 50px;
    padding: 14px 27px 18px 14px;


}

@media screen and (max-width: 576px) {
    .carousel-container {
        width: 100%;
        height: 300px;
        position: relative;
        margin: 0 auto;
    }

    .navigation .prev {
        position: absolute;
        z-index: 10;
        font-size: 25px;
        top: 40%;
        left: 10px;
        font-weight: 700;
    }

    .navigation .next {
        right: 10px;
        position: absolute;
        font-size: 25px;
        z-index: 10;
        top: 40%;
    }

    .navigation .nav-btn {
        background: rgba(255, 255, 255, 0.55);
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .navigation .nav-btn:hover {
        background: white;
    }

    .carousel {
        margin-top: 20px;
        transition: all 0.3s ease;

    }

    .carousel img {
        width: 373px;
        height: 300px;
        transition: all 0.3s ease;
        border: 8px solid white;
    }

    .item {
        position: absolute;
        display: none;
    }

    .main {
        display: block;
    }


    .parent-container {
        position: relative;
        overflow-x: hidden;
    }

    .text-shopNowBtn {
        position: relative;
        left: 279px;
        top: -407px;
    }

    .text-shopNowBtn h2 {
        font-weight: bolder;
        margin-bottom: 64px;
    }

    .text-shopNowBtn a {
        text-decoration: none;
        color: rgb(248, 242, 242);
        background-color: black;
        width: 152px;
        height: 50px;
        padding: 14px 27px 18px 14px;


    }


}

.summer-collection h1 {
    text-align: center;
    margin-bottom: 44px;

}

.shop-now {
    display: flex;
    justify-content: center;
}

.summer-collection a {
    text-decoration: none;
    color: rgb(248, 242, 242);
    background-color: black;
    width: 152px;
    /* height: 50px; */
    padding: 24px 17px 18px 14px;
    text-align: center;

}

.article-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
}

.article {
    width: 325px;
    height: 200px;
    /* border: 1px solid black; */
}

.article-box {
    display: flex;
}

.article-box img {
    /* margin-left: 15px; */
    /* margin-right: 5px; */
    padding-right: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width:576px) {
    .article-container {
        margin-top: 60px;
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 90px;
    }

    .article {
        width: 325px;
        height: 200px;
        margin-bottom: 50px;
        /* border: 1px solid black; */
    }

    .article-box {
        display: flex;
    }

    .article-box img {
        /* margin-left: 15px; */
        /* margin-right: 5px; */
        padding-right: 15px;
        padding-bottom: 15px;
    }

}

hr {
    height: 2px;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer h3 {
    margin-bottom: 13px;
}

.footer-lists {
    display: flex;
    flex-direction: column;
}

.footer-lists a {
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}

.Copyright {
    margin-top: 90px;
    margin-bottom: 90px;
}

.Copyright p {
    text-align: center;
}

@media screen and (max-width:576px) {
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .footer h3 {
        margin-bottom: 13px;
    }

    .footer-lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .footer-lists a {
        text-decoration: none;
        margin-bottom: 10px;
        color: black;
    }

    .Copyright {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    .Copyright p {
        text-align: center;
    }
}